  <%- include('headers.ejs') %>

  <section>
   
    
  <h1><%= title %></h1>
      <p><%= __('Welcome to ')%>  <%= title %> la mayor web de artículos.</p>

      <h3><%= __('the best price')%></h3>
      <ul>
        <% anuncios.filter(anuncio => anuncio.venta === true).forEach(anuncio => { %>
          <li><%= anuncio.name %> - <%= anuncio.precio %> Euros <%= anuncio.tags %></li>
        <% }); %>
      </ul>

      <h3>Los más buscados</h3>
        <ul>
          <% anuncios.filter(anuncio => anuncio.venta === false).forEach(anuncio => { %>
              <li><%= anuncio.name %> - <%= anuncio.precio %> Euros <%= anuncio.tags %></li>
          <% }); %>
        </ul>

        <h2><%= __("Multilanguage") %> error a propósito</h2>
      </section>
    
  <%- include('footer.ejs') %>

