<%- include('headers.ejs') %>

<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4"><%= __('Private zone') %></h2>
            </div>
            <div class="col-12 col-lg-5">
                <p>Email: <%= email %></p>
            </div>
        </div>
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4"><%= __('Advertisment') %></h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        <% articulos.forEach(articulo =>{ %>
                        
                      <tr>
                        <th scope="row"></th>
                        <td><%= articulo.name %></td>
                        <td><%= articulo.precio %></td>
                        <td><%= articulo.venta %></td>
                        <td><%= articulo.tags %></td>
                        <td> <img src="<%= articulo.foto %>"></td>

                      </tr>

                     <% }) %>
                    </tbody>
                  </table>
            </div>

        </div>
        
    </div>
  
  </section>
   
<%- include('footer.ejs') %>